
body{
    background: rgb(238, 233, 235);
background: linear-gradient(0deg, rgb(241, 232, 235) 0%, rgba(211, 228, 208, 0.751) 100%);
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}


.container{
    font-family:cursive;
    width: 75%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(96, 14, 115);
    border-radius: 8px;
    color: aliceblue;
}
.button-container{
    display: flex;
    width: 100%;
    max-width: 550px;
}

button{
    background-color: rgb(43, 226, 101);
    color: rgb(10, 14, 14);
    font-family:cursive;
    border-radius: 8px;
    font-size: larger;
    width: 115px;
    height: 35px;
    margin-left: 25px;
}

.add-alarm {
    float: right;
    margin-left: auto;
    margin-right: 25px;
}

.alarm-container{
    background-color: rgb(148, 18, 228);
    height: 450px;
    width: 98%;
    margin-top: 0px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.alarm{
    background-color: rgb(102, 26, 173);
    width: 98%;
    height: 20%;
    margin-top: 10px;
    border-radius: 8px;
    transform: translateY(0%);
    animation: 1s alarm-on, 1s downToUp;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alarm-time{

    margin-left: 15px;
    animation: 1.5s Opacity;

}
.remaining-time{

    margin-left: auto;
    margin-right: 15px;
    animation: 1.5s Opacity;

}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.alarm-form{
    display: none;
    border: 1px solid;
    border-radius: 16px;
    background-color: rgb(247, 154, 87);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 50%;
    height: 50%;
    z-index: 20;
}

.alarm-settings{
    margin-top: -35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer{
    width: 80%;
    height: 35px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: rgb(199, 158, 104); 
}

.alarm-link{

    text-decoration: none;
    color: black;

}

.submitlink{

    text-decoration: none;
    color: #000;

}

.submit{

    margin-left: 0;
    margin-top: 25px;
    text-decoration: none;
}

.close-form{
    margin-left: 0;
    margin-top: 10px;
}



.alarm-form.active , .overlay.active {

    display: block;

}

.timerDiv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.timeInput{

    width: 20%;
    height: 35px;
}

.days{
    display: flex;
    gap: 0px;
}

.day{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dayActive{

    background-color: blueviolet;

}

@keyframes Opacity {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes downToUp {
    from{
        transform: translateY(200%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes alarm-on {
    0%{
        height: 0px;
        width: 0px;
    }
    55%{
        height: 75px;
    }
    100%{
        width: 98%;
    }
} 



@media (max-width:565px) {
    .container{
        width: 100%;
        animation: 1s alongation;
    }
    h1{
        font-size: 15px;
    }
    .button-container{
        margin-top: 25px;

    }
    button{
        width: 75px;
        font-size: 12px;
    }

    h3{
        font-size: 15px;
    }

    .timer{
        width: 80%;
        font-size: 10px;
    }

    .timeInput{
        width: 32%;
    }

    .day{
        width: 25px;
    }

    .alarm{
        flex-direction: column;
    }

    .alarm-time{
        margin-left: 0;
    }

    .remaining-time{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    @keyframes alongation {
        0%{
            width: 85%;
        }
        100%{
            width: 100%;
        }
    }
}